@tailwind base;
@tailwind components;
@tailwind utilities;


#__next{
  /* background: #06050B; */
  /* background: "#FFFFFF" */
};


/* dropdown scrollbar start */
.designable-scrollbar::-webkit-scrollbar {
  /* width: 10px; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #4f60f1;
  border-radius: 5px;
}